# Flutter
**/android/app/build/
**/android/.gradle/
**/ios/Pods/
**/ios/.symlinks/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/build/
**/*.g.dart
**/*.freezed.dart
**/generated_plugin_registrant.dart

# Coverage
**/coverage/

# Dart
**/.packages
**/pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment / Secrets
**/.env
**/google-services.json
**/GoogleService-Info.plist
**/service-account.json
**/*-service-account.json
**/lib/firebase_options.dart
apps/mobile/android/app/google-services.json 
apps/mobile/android/app/google-services.json 
